<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>正方形立方体</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      canvas {
        border: 1px solid #f5f5f5;
      }
    </style>
  </head>
  <body>
    <canvas id="webgl-canvas" width="500" height="500"></canvas>
    <script type="vertex" id="vertexShader">
      attribute vec4 a_Position;
        float radin = radians(10.0);
        float sinb = sin(radin); //
        float cosb = cos(radin);
        // 绕x轴旋转
        mat4 mx = mat4(
            1.0, 0.0, 0.0, 0.0,
            0.0, cosb, -sinb, 0.0,
            0.0, sinb, cosb, 0.0,
            0.0, 0.0, 0.0, 1.0
        );
        // 绕y轴旋转
        mat4 my = mat4(
            cosb, 0.0, -sinb, 0.0,
            0.0, 1.0, 0.0, 0.0,
            sinb, 0.0, cosb, 0.0,
            0.0, 0.0, 0.0, 1.0
        );
      void main() {
        gl_Position = vec4(a_Position) * mx * my;
        gl_PointSize = 10.0;
      }
    </script>
    <script type="fragment" id="fragmentShader">
      void main() {
        gl_FragColor = vec4(1.0,0.0,0.0,1.0);
      }
    </script>
    <script type="module">
      import { initShader } from "../utils/common.js";

      const canvas = document.getElementById("webgl-canvas");

      const gl =
        canvas.getContext("webgl") || canvas.getContext("experimental-webgl");

      if (!gl) {
        console.log("Your browser does not support WebGL");
      }

      const vertexSource = document.getElementById("vertexShader").innerText;

      const fragmentSource =
        document.getElementById("fragmentShader").innerText;

      const program = initShader(gl, vertexSource, fragmentSource);

      // 创建顶点数据 屏幕向右为轴正反向 屏幕向上为y轴正方形  屏幕向外为z轴正方形 （参考右手坐标系）
      // -0.5, -0.5, -0.5,1.0 后左下顶点
      // 0.5, -0.5, -0.5,1.0 后右下顶点
      //  0.5,-0.5, 0.5,1.0 前右下顶点
      //  -0.5,-0.5,0.5,1.0 前左下顶点

      // -0.5, 0.5, -0.5,1.0 后左上顶点
      // 0.5, 0.5, -0.5,1.0 后右上顶点
      //  0.5, 0.5,0.5,1.0 前右上顶点
      //  -0.5,0.5,0.5,1.0 前左上顶点
      // 后左下链接后左上
      // -0.5, -0.5, -0.5,1.0
      //  -0.5, 0.5, -0.5,1.0
      // 后右下链接后右上
      // 0.5, -0.5, -0.5,1.0
      //  0.5, 0.5, -0.5,1.0
      // 前右下链接前右上
      // 0.5,-0.5, 0.5,1.0
      // 0.5, 0.5,0.5,1.0
      // 前左下链接前左上
      //  -0.5,-0.5,0.5,1.0
      //  -0.5,0.5,0.5,1.0
      const vertices = new Float32Array([
        -0.5,
        -0.5,
        -0.5,
        1.0, //
        0.5,
        -0.5,
        -0.5,
        1.0, //
        0.5,
        -0.5,
        0.5,
        1.0, //
        -0.5,
        -0.5,
        0.5,
        1.0, //
        -0.5,
        0.5,
        -0.5,
        1.0, //
        0.5,
        0.5,
        -0.5,
        1.0, //
        0.5,
        0.5,
        0.5,
        1.0, //
        -0.5,
        0.5,
        0.5,
        1.0,
      ]);

      // 创建顶点缓冲区
      const buffer = gl.createBuffer();

      // 绑定buffer
      gl.bindBuffer(gl.ARRAY_BUFFER, buffer);

      // 将顶点数据存入缓冲区中
      gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW); // gl.STATIC_DRAW, gl.DYNAMIC_DRAW,gl.STREAM_DRAW

      // 获取顶点属性
      const positionLocation = gl.getAttribLocation(program, "a_Position");

      // 启用顶点属性数组
      gl.enableVertexAttribArray(positionLocation);

      // 指定解析数据规则
      gl.vertexAttribPointer(positionLocation, 4, gl.FLOAT, false, 0, 0);

      // 绘制第一个面
      // gl.drawArrays(gl.POINTS, 0, 4);
      // gl.drawArrays(gl.LINE_LOOP, 0, 4);
      // // 绘制第二个面
      // gl.drawArrays(gl.POINTS, 4, 4);
      // gl.drawArrays(gl.LINE_LOOP, 4, 4);
      // // 两个面链接
      // gl.drawArrays(gl.LINES, 8, 2);
      // gl.drawArrays(gl.LINES, 10, 2);
      // gl.drawArrays(gl.LINES, 12, 2);
      // gl.drawArrays(gl.LINES, 14, 2);
      gl.drawArrays(gl.TRIANGLE_STRIP, 0, 8);
    </script>
  </body>
</html>
