<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WebGL Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      canvas {
        border: 1px solid #f5f5f5;
      }
    </style>
  </head>
  <body>
    <canvas id="webgl-canvas" width="500" height="500"></canvas>
    <script type="vertex" id="vertexShader">
      attribute vec2 a_Position;
      void main() {
        float radin = radians(45.0); // 内置角度转弧度函数 radians, degrees
        float sin = sin(radin); // 内置三角函数 san, cos, tan, asin, acos, atan
        float cos = cos(radin);
        // 创建旋转矩阵
        mat4 rotate = mat4(
          cos, -sin, 0.0, 0.0,
          sin, cos, 0.0, 0.0,
          0.0, 0.0, 1.0, 0.0,
          0.0, 0.0, 0.0, 1.0
        );
        gl_Position = rotate * vec4(a_Position,0.0,1.0);
        gl_PointSize = 10.0;
      }
    </script>
    <script type="fragment" id="fragmentShader">
      void main() {
        gl_FragColor = vec4(1.0,0.0,0.0,1.0) ;
      }
    </script>
    <script type="module">
      import { initShader } from "../utils/common.js";

      // 计算俩个坐标直接的三角函数关系 (a1 * Math.PI) / 180 弧度

      // x1 = r * cosa;
      // y1 = r * sina;

      // x2 = r * cos(a + b);
      //    = r * (cosa * cosb - sina * sinb)
      //    = x1 * cosb - y1 * sinb
      // y2 = r * sin(a + b);
      //    = r * (sina * cosb + cosa * sinb)
      //    = y1 * cosb + x1 * sinb

      // 矩阵
      //  | cosb -sinb |   | x1 |     | cosb*x1 - sinb*y1  |
      //  |            | * |    |  =  |                   |
      //  | sinb  cosb |   | y1 |     | sinb*x1 + cosb*y1 |

      const canvas = document.getElementById("webgl-canvas");

      const gl =
        canvas.getContext("webgl") || canvas.getContext("experimental-webgl");

      if (!gl) {
        console.log("Your browser does not support WebGL");
      }

      const vertexSource = document.getElementById("vertexShader").innerText;

      const fragmentSource =
        document.getElementById("fragmentShader").innerText;

      const program = initShader(gl, vertexSource, fragmentSource);

      // 创建顶点数据
      const vertices = new Float32Array([
        -0.5, 0.5, 0.5, 0.5, 0.5, -0.5, -0.5, -0.5,
      ]);

      // 创建顶点缓冲区
      const buffer = gl.createBuffer();

      // 绑定buffer
      gl.bindBuffer(gl.ARRAY_BUFFER, buffer);

      // 将顶点数据存入缓冲区中
      gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW); // gl.STATIC_DRAW, gl.DYNAMIC_DRAW,gl.STREAM_DRAW

      // 获取顶点属性
      const positionLocation = gl.getAttribLocation(program, "a_Position");

      // 启用顶点属性数组
      gl.enableVertexAttribArray(positionLocation);

      // 指定解析数据规则
      gl.vertexAttribPointer(positionLocation, 2, gl.FLOAT, false, 0, 0);

      // 绘制
      gl.drawArrays(gl.POINTS, 0, 4); // gl.POINTS, gl.LINES, gl.LINE_STRIP, gl.LINE_LOOP, gl.TRIANGLES, gl.TRIANGLE_STRIP, gl.TRIANGLE_FAN

      gl.drawArrays(gl.LINE_LOOP, 0, 4);
    </script>
  </body>
</html>
